/*** Write CSS Here ****/

/* top heading box */
.container {
  transform: rotate(0.2deg) skew(0.2deg);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-centered {
  position: absolute;
  top: 8px;
  left: 50%;
  right: 50%;
}

.top-centered p {
  color: white;
  white-space: nowrap;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid black 10px; */
  /* background-color: white; */
}
 .centered p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:black;
  font-size: 35px;
  margin-left: 150px
}

.top-image .centered .typing {
  position: relative;
  margin-left: 10px;
}

.top-image .centered .typing::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid white;
  animation: blink 0.5s infinite ease;
}


.centered a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  text-decoration: none
}

.centered .heading {
  background-color: white;
  width: 80%;
  padding: 15px;
}


@keyframes blink{
  0%{
    opacity: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  100%{
    opacity: 1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

/*end top heading box */


/*first text box */
.second-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

p {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 50%;
}
/* end first text box */


/*blue box */
.blue-box {
  height: 500px;
  background-color: #00477B;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(0.60deg) skew(0.60deg);
  padding: 0 25%;
}

.blue-box > div {
  text-align: center;
  padding: 25px;
}

.blue-box p {
  color: white;
  width: 100%;
}
/* end blue box */


/*fourth -div styling */

.fourth-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.fourth-div > div {
  width: 50%;
}

.fourth-div p {
  width: 100%;
}

.block-quote {
display: flex;
}

.block1 {
  border: solid white 1px;
  border-right-color: #00477B;
  border-right-width: 7px;

}

.block1 p{
  color: #00477B;
  font-weight: bold;
  font-size: 100px;
}

.block2 {
  margin-left: 10px;
  height: 400px;
}

.block2 p {
  text-align: center;
}

/*end fourth div styling*/

/* section image styling */

.container-bottom{
  position: relative;
  text-align: center;
  transform: rotate(0.60deg) skew(0.60deg);
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
/* end section image stying */


/*last div */
.sixth-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.arrow {
  display: flex;
  justify-content: center;
}

.btn{
  background-color: white;
  border: none;
}

/* end last div styling */


/*media styling*/
@media (max-width: 600px){



}
